<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Files</title>
    <%- include("partials/head") -%>
</head>

<body>

    <%- include("partials/navigation") -%>

    <div class="container pt-5">
        <div class="row" >
            <div class="col">
                <table id="data-table" class="display" style="width:100%">
                    <thead>
                      <tr>
                      <th>title</th>
                      <th>description</th>
                      <th>options</th>
                      </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
<script src="js/listar.js"></script>
</body>

</html>